body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.h1 {
    text-align: center;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    font-size: large;
    font-style: bold;
}

.p {
    display: flex;
    text-align: center;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}
