/* navbar */
/* navbar container */
nav {
    display: flex;
    justify-content: flex-end;
    background-color: #c6dbef;
    padding: 20px;

}

/* Remove bullets, align links horizontaly */
nav ul {
    list-style: none;  /* removes bullet points */
    display: flex;
    justify-content: flex-end;
    gap: 20px;                  /* space between links */
    margin: 0;
    padding: 0 40px;
}

/* Link styling */
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.2s ease;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007BFF;
}

/* footer */
footer {
    background-color: #c6dbef;

    display: flex;
    padding: 20px;
    width: 100%;
    margin-top: auto;

    font-family: Arial, Helvetica, sans-serif;
    
    text-align: center;
    flex-direction: column;
    justify-content: center;  /* centers vertically inside footer */
    align-items: center;      /* centers horizontally inside footer */
    
}

/* index_about */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.h1 {
    text-align: center;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    font-size: large;
    font-style: bold;
}

.p {
    display: flex;
    text-align: center;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}

div.card {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
    text-align: top;
    padding: 10px 20px;
}

/* Login Page */
.loginform {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 2px 22px 0px rgba(89, 87, 87, 0.85);
    float: right;
    height: 250px;
    border-radius: 30px;
    padding: 20px;
    margin-right: 200px;
    margin-top: 100px;
}